* {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

a {
  text-decoration: none;
  color: #0f7afc;
  border-bottom: 1px solid;
  border-bottom-color: rgba(15, 122, 252, 0.2);
}